service cloud.firestore {
  match /databases/{database}/documents {
    match /comments/{comment} {
      allow read;
      allow create: if request.auth.token.email_verified == true;
      allow delete: if isAdmin()
    }
    match /users/{uid} {
    	allow read;
    	allow create: if request.auth.uid == uid;
      allow update: if isAdmin() && !resource.data.admin
    }
    
    //Functions
    function isAdmin() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin
    }
    
  }
}
