<app-article id="welcome" #welcome title="Hello & Welcome" details="Welcome to a showcase website of mine" [fullscreen]="true"></app-article>
<!-- <br>
<app-timeline id="timeline" #timeline></app-timeline>
<br>
<app-article id="accomplishments" #accomplishments title="Accomplishments"></app-article> -->
<br>
<app-article id="contact" #contact title="Contact" 
details="Email: wchr.aun@gmail.com\nGitHub: [wchr-aun](https://github.com/wchr-aun)\nLinkedIn: [wchr-aun](https://www.linkedin.com/in/wchr-aun)">
</app-article>