<nav 
  class="navbar is-dark is-fixed-top" 
  [ngClass]="{visible: shownPath !== 'default', notVisible: shownPath === 'default'}" 
  (scroll)="onWindowScroll()"
  >
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/" (click)="scrollTo('top')">
      <b>Azwraith.me</b>
    </a>
    
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>  
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <ng-container *ngFor="let element of path[shownPath]">
        <a 
          class="navbar-item" 
          (click)="scrollTo(element.id)" 
          *ngIf="shownPath !== 'default' else default;" 
          [ngClass]="{fadein: shownPath !== 'default'}"
          >
          {{ element.name }}
        </a>
        <ng-template #default>
          <a 
            class="navbar-item" 
            [routerLink]="element.path" 
            [ngClass]="{fadein: shownPath === 'default'}"
            >
            {{ element.name }}
          </a>
        </ng-template>
      </ng-container>
    </div>
  </div>
</nav>