<nav class="navbar is-dark is-fixed-top" [ngClass]="{visible: shownPath !== 'default'}" role="navigation" aria-label="main navigation" (scroll)="onWindowScroll()">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/" (click)="onActivate()">
      <b>Azwraith.me</b>
    </a>
    
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>  
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <ng-container *ngFor="let element of path[shownPath]">
        <a class="navbar-item" [href]="element.id">{{ element.name }}</a>
      </ng-container>
      <!-- <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" href="#aboutme">About me</a>
      <a class="navbar-item" href="#timeline">Timeline</a>
      <a class="navbar-item" href="#accomplishments">Accomplishments</a>
      <a class="navbar-item" href="#contact">Contact</a> -->
    </div>
  </div>
</nav>