.visible {
  animation:fadeOutHeader ease 1s;
  opacity: 0.85;
}

.notVisible {
  animation:fadeInHeader ease 1s;
}

.fadein {
  animation:fadeIn ease 1s;
}

@keyframes fadeIn{
  from{opacity:0} to{opacity:1}
}

@keyframes fadeInHeader{
  from{opacity:0.85} to{opacity:1}
}

@keyframes fadeOutHeader{
  from{opacity:1} to{opacity:0.85}
}

.sticky-bottom {
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 1000;
}
